*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Sans-Serif;
  scroll-behavior: smooth;
}
body{
  background: #edecec;
}
a{
  text-decoration: none;
  color: black;
  cursor: default;
}
nav{
  height: 50px;
  width: 100%;
  background:#ffffff9d;
  display: flex;
  justify-content:space-between;
  align-items: center;
  z-index: 12;
 position: sticky;
 top: 0;
 backdrop-filter: blur(10px);
 box-shadow: 0 0 2px gray;
}
.navLeft{
  height:100%;
  width: 50%;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}
.navLeft img {
  height: 50px;
  width: 50px;
  background: #42c1e3;
 transform: scale(0.7);
 margin-left: 10px;
 border-radius: 5px;
}
.navRight{
  height:100%;
  width: 50%;
  display: flex;
  justify-content:flex-end;
  align-items: center;
}
.navRight i{
  margin-right: 10px;
}
.navRight i:active{
  transform: scale(0.89);
  color: #42c1e3;
}
.navRight img {
  height: 50px;
  width: 50px;
  background: #42c1e3;
 transform: scale(0.8);
 margin-left: 10px;
 border-radius:100px;
 display: none;
}
.navRight button{
 padding: 10px 20px;
 transform: scale(0.9);
 background: #42c1e3;
 border: none;
 color: white;
 border-radius: 5px;
 border: 1px solid #42c1e3;
}
.navRight button:active{
  transform: scale(0.89);
  background: #35b8db;
}
#searchContainer{
  height: 100vh;
  width: 100%;
  background: url('https://image.freepik.com/free-vector/hand-drawn-mountains-landscape_23-2149110389.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: 12345;
  position: fixed;
  top: -100vh;
  transition: .2s ease-in;
}
.search_header{
  height: 50px ;
  width: 100%;
  background: #3d3d3d07;
  backdrop-filter: blur(10px);
  box-shadow: 0 1px 2px  #969696;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search_header i{
  width : 50px;
  height: 50px;
  display: grid;
  place-items: center;
  color: #303030;
}
.search_header i:active{
  transform: scale(0.89);
  background: #29292938;
}
#searchInput{
  padding: 15px 20px;
  width: 90%;
  background:#12121200;
  border: none;
  outline: none;
  font-size: 17px;
}
.post_Img_Con {
  height: 250px;
  width: 100%;
  background:#ffffff9d;
}
.post_Img_Con img {
  height: 100%;
  width: 100%;
  background-size: cover;
}
.postContainer{
  height: 1000px;
  width: 100%;
  background: #80808000;
  transform: scale(0.97);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 2px gray;
}
.postContainer h1{
  padding: 10px 20px;
  font-size: 24px;
}
.postContainer h2 {
  padding: 10px 20px;
  font-size: 15px;
}
.postContainer p{
  padding: 10px 20px;
  font-size: 15px;
}
#postSuggestionContainer{
  height: 400px;
  width: 100%;
  background:none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transform: scale(0.98);
  overflow: hidden;
  transition: .3s ease-in;
}
.box{
  height:300px;
  width: 100%;
  background: #80808000;
  transform: scale(0.97);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 2px gray;
}
.box:active {
  background: white;
}
.box img{
  height: 220px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.box h3 {
  font-size: 20px;
  text-transform:capitalize ;
  margin-left:10px;
}
.showMore{
  height:50px;
  width: 100%;
   background: #80808000;
  transform: scale(0.9);
  border-radius: 100px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 2px gray;
  display: grid;
  place-items: center;
}
.showLess{
  height:50px;
  width: 100%;
   background: #80808000;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 2px gray;
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 0;
  transform: scale(0);
  transition: .1s ease-in;
  z-index: 12345;
}
.showLess:active{
  background: #fdfdfdc3;
}
.showMore:active {
  transform: scale(0.88);
  backdrop-filter: blur(100px);
}
#comment_input_container{
  height:100%;
  width: 100%;
   background:#80808000;
  transform: scale(0.97);
  display: none;
}
#comment_input {
  height:100%;
  width: 100%;
  background:#80808000;
  border-radius: 10px;
  backdrop-filter: blur(100px);
  box-shadow: 0 0 2px gray;
  outline: none;
  border: none;
  font-size: 18px;
  padding: 10px 20px;
}
#comment_input_container button {
  padding: 10px 20px;
  background:#80808000;
  border-radius: 5px;
  backdrop-filter: blur(100px);
  box-shadow: 0 0 2px gray;
  outline: none;
  border: none;
}
#comment_input_container button:active{
  transform: scale(0.88);
  backdrop-filter: blur(100px);
}
#comment_output_container{
  height:400px;
  width: 100%;
   background:none;
  transform: scale(0.98);
  border-radius: 10px;
  overflow: hidden;
}
.commentBox{
  height:100px;
  width: 100%;
   background: #80808000;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 2px gray;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  transform: scale(0.99);
}
.commentBox img{
  height: 50px;
  width: 50px;
  border-radius: 100px;
  margin-left: 10px;
}
.commentBox b{
  margin-left: 10px;
}
.commentBox p{
  margin-left: 10px;
}
footer {
  height:300px;
  width: 100%;
  background: #80808000;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 2px gray;
  margin-top: 10px;
}