* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  scroll-behavior: smooth;
}
html {
  scroll-snap-type: X mandatory;
}
i:active {
  transform: scale(0.95);
}
#main_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
#main_container::-webkit-scrollbar {
  display: none;
}
.boxes {
  height: 100%;
  min-width: 100%;
  scroll-snap-align: center;
  transition: .2s ease-out;
}
#title {
  height: 50px;
  width: 100%;
  background: white;
  display: grid;
  place-items: center;
  font-size: 20px;
  font-weight: 400;
  position: sticky;
  top: -2px;
  z-index: 12;
  border-bottom: 1px solid gray;
}
#img_container {
  height: 250px;
  width: 100%;
}
#img_container img {
  height: 100%;
  width: 100%;
  transform: scale(0.9);
}
.topic_explaning {
  padding: 10px 20px;
}
.topic_explaning h2 {
  font-weight: 400;
  padding: 5px 0px;
  font-size: 19px;
  color: #00beff;
}
.topic_explaning p {
  font-size: 18px;
  padding: 5px 0px;
  font-weight: 400;
}
.topic_explaning img {
  width: 100%;
  height: 100%;
  border-radius: 5px;

}
#bottom_nav {
  height: 60px;
  width: 100%;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  z-index: 123;
}
#bottom_nav i {
  background: none;
}
#bar {
  height: 60px;
  width: 45%;
  background: white;
  border-top-right-radius: 40px;
  display: grid;
  place-items: center;
  border-top: 1px solid #bababa;
}
#darkMode {
  height: 60px;
  width: 15%;
  background: white;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  display: grid;
  place-items: center;
}
#darkMode i {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  background: white;
  display: grid;
  place-items: center;
  z-index: 1234;
  margin-top: -20px;
  border: 1px solid #bababa;
}

#home {
  height: 60px;
  width: 45%;
  background: white;
  border-top-left-radius: 40px;
  display: grid;
  place-items: center;
  border-top: 1px solid #bababa;
}

#Sidebar_container {
  height: 100%;
  width: 100%;
  background: none;
  position: fixed;
  top: 0;
  left: -100%;
  display: flex;
  transition: .2s ease-out;
  z-index: 1234;
}
.Sidebar_content {
  height: 100vh;
  width: 70%;
  background: white;
  box-shadow: 0 0 100px 1px #525252;
  overflow: scroll;
}
.Sidebar_content ul {
  display: flex;
  flex-direction: column-reverse;

}
.Sidebar_content ul li {
  list-style-type: none;
}
.Sidebar_content ul li a {
  display: flex;
  text-decoration: none;
  padding: 13px 20px;
  cursor: default;
  color: black;
}
.Sidebar_content ul li a:active {
  background: #e3e3e36b;
}
.Sidebar_closer {
  height: 100vh;
  width: 30%;
  background: #9e9e9e00;
}
#setting_page {
  height: 100%;
  width: 100%;
  background: #bababa;
  position: fixed;
  top: -100%;
  transition: .2s ease-out;
  z-index: 1234567;
}
#setting_nav {
  padding: 10px 20px;
  width: 100%;
  height: 60px;
  background: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #bababa;
}
#setting_nav i {
  padding: 5px;
}
#setting_nav span {
  font-size: 20px;
  padding: 10px 20px;
}
#setting_page b {
  padding: 10px 20px;
  height: 50px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
#setting_page b button {
  padding: 5px 20px;
  transform: scale(0.9);
}
nav{
  height: 60px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  transform: scale(0.91);
  border: 1px solid #acacac;
  transition: .2s ease-out;
}

.nav {
  height: 500px;
  overflow-y: scroll;
}

.top_items {
  height: 60px;
  background: none;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_items i {
  padding: 10px 20px;
  background: none;
}

.top_items i:active {
  transform: scale(0.9);
}

.top_items b {
  padding: 10px 20px;
  background: none;
}

nav ul {
  padding: 10px 20px;
  background: none;
  display: flex;
  flex-direction: column-reverse;
}


nav ul  a {
  color: black;
  display: flex;
  text-decoration: none;

}

@media only screen and (min-width: 700px) {
  #main_container {
    width: 60%;
    float: right;
  }
  #bottom_nav {
    width: 40%;
    z-index: 12345;
    position: fixed;
    bottom: 0;
  }
  #Sidebar_container {
    width: 40%;
    background: none;
    left: 0%;
  }
  .Sidebar_content {
    height: 90%;
    width: 100%;
    box-shadow: none;
    border-right: 1px solid #bababa;

  }

  .Sidebar_closer {
    display: none;
  }
  #setting_page {
    height: 100%;
    width: 40%;
    background: #bababa;
    position: fixed;
    top: -100%;
    transition: .2s ease-out;
  }
}