* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
img {
  height: 100%;
  width: 100%;
}
#container {
  background-color: #d8d8d8;
}
nav {
  background-color: #ffffff;
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0;
  box-shadow: 0 0 5px 1px #b9b9b9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
#logo {
  height: 50px;
  width: 150px;
  background: none;
}
#logo a {
  text-decoration: none;
  color: #223eb9;
  cursor: default;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#logo a :hover {
  cursor: pointer;
}
#logo a img {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  transform: scale(0.7);
  border: 2px solid #0059ff;
}
#icons {
  height: 50px;
  width: 50px;
  background-color: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#icons i {
  margin-right: 30px;
}
#icons i:hover {
  color: #0059ff;
  cursor: pointer;
}
#icons i:active {
  color: #0059ff;
}
#bars {
  display: none;
}
#home_container {
  height: 100%;
  width: 100%;
  background: #d8d8d8;
  display: flex;
}
#SidebarCloser {
  display: none;
}
#Sidebar {
  height: 100vh;
  width: 30%;
  background-color: white;
  transform: scale(0.99);
  position: sticky;
  top: 50px;
}
#slider_container {
  height: 100%;
  width: 70%;
  background-color: d8d8d8;
  transform: scale(1);
}
#user_container {
  height: 150px;
  width: 100%;
  display: grid;
  place-items: center;
}
#user_container img {
  height: 100px;
  width: 100px;
  background-color: black;
  border-radius: 100%;
}
#home_container ul {
  padding: 10px 20px;
  list-style-type: none;
}
#home_container ul a {
  padding: 10px 20px;
  text-decoration: none;
  display: flex;
  color: black;
}
#home_container ul a:hover {
  background-color: rgb(219, 219, 219);
}
#trending_container {
  height: 400px;
  width: 100%;
  background-color: none;
  display: flex;
  overflow-x: hidden;
}
#trendingCtrl {
  height: 50px;
  width: 100px;
  position: absolute;
  right: 20px;
  top: 330px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0000003a;
  border-radius: 100px;
}
#trendingCtrl i {
  color: #d8d8d8;
  cursor: pointer;
}
#trendingCtrl i:hover {
  color: #6dcbf0;
  cursor: pointer;
}
#box {
  height: 400px;
  min-width: 100%;
  background-color: white;
  transform: scale(0.99);
}
.postContainer {
  height: 100%;
  width: 100%;
  background-color: none;
  margin-top: 10px;
  display: flex;
}
#PostSlider {
  height: 100%;
  width: 100%;
  background-color: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}
#postCon {
  height: 300px;
  width: 45%;
  max-width: 45%;
  background: white;
  transform: scale(0.98);
  text-decoration: none;
  color: black;
  border-radius: 10px;
}
#postCon img {
  height: 150px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#postCon h2 {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}
#postCon p {
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  height: 80px;
  overflow: hidden;
}

#contact_us {
  height: 200px;
  width: 100%;
  background-color: white;
  margin-top: 10px;
}
footer {
  height: 200px;
  width: 100%;
  background-color: white;
  margin-top: 10px;
}
#searchCon {
  height: 100vh;
  width: 100%;
  background-color: none;
  position: fixed;
  top: 0;
  z-index: 1235;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: 0.2s ease-in-out;
  transform-origin: top right;
}
#SearchClose {
  height: 100vh;
  width: 100%;
  background-color: none;
  position: absolute;
}
#searchCon2 {
  height: 400px;
  width: 50%;
  background-color: #ffffff;
  box-shadow: 0 0 4px 1px #585858;
  top: 0;
  border-radius: 20px;
  z-index: inherit;
  overflow-y: scroll;
}
#searchCon2::-webkit-scrollbar {
  display: none;
}
#myInput {
  width: 100%;
  padding: 10px 20px;
  transform: scale(0.9);
  font-size: 20px;
  outline: none;
  position: sticky;
  top: -2px;
  border: 1px solid black;
  border-radius: 5px;
}
#myUL {
  padding: 10px 20px;
  list-style-type: none;
}
#myUL li a {
  text-decoration: none;
  display: flex;
  padding: 10px 20px;
  color: rgb(32, 32, 32);
}
#myUL li a:hover:not(.header) {
  background-color: #eee;
  color: rgb(0, 0, 0);
}
/* Media quarry applied for mobile view */
@media only screen and (max-width: 700px) {
  * {
    cursor: default;
  }
  #bars {
    display: block;
  }
  #SidebarCloser {
    height: 100vh;
    width: 30%;
    background-color: none;
    transform: scale(1);
    position: sticky;
    top: 0;
    right: -100%;
    position: fixed;
    z-index: 123540;
    transition: 0.3s ease-in-out;
    display: block;
  }
  #Sidebar {
    height: 100vh;
    width: 70%;
    background-color: white;
    transform: scale(1);
    position: sticky;
    top: 0;
    left: -100%;
    position: fixed;
    z-index: 123540;
    box-shadow: 0 0 5px 1px #b3b3b3;
    transition: 0.3s ease-in-out;
  }
  #trending_container {
    height: 200px;
  }
  #trendingCtrl {
    height: 30px;
    width: 50px;
    right: 10px;
    top: 160px;
  }
  #trendingCtrl i {
    color: #d8d8d8;
    cursor: default;
  }
  #trendingCtrl i:hover {
    color: #6dcbf0;
    cursor: default;
  }
  #box {
    height: 100%;
  }
  #slider_container {
    height: 100%;
    width: 100%;
    background-color: none;
    transform: scale(1);
  }
  #postCon {
    height: 400px;
    width: 100%;
    max-width: 100%;
    background: white;
    transform: scale(1);
    text-decoration: none;
    color: black;
    border-radius: 10px;
  }
  #user_container {
    border: none;
  }
  #searchCon2 {
    height: 80%;
    width: 80%;
  }
  #PostSlider {
    height: 100%;
    width: 100%;
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
  }
}
