* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  cursor: default;
  scroll-behavior: smooth;
}
body {
  background: #1d1f1c;
}
html {
  scroll-snap-type: Y mandatory;
}
nav {
  height: 50px;
  width: 100%;
  background: #1d1f1c;
  position: sticky;
  top: 0;
  z-index: 123;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo_container {
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: white;
}
#logo_container img {
  height: 50px;
  width: 50px;
  transform: scale(0.8);
  border-radius: 50px;
  object-fit: cover;
}
#Logo_container h2 {
  font-size: 20px;
  color: #4e93f6;
}
#searchInput {
  width: 50%;
  padding: 10px 20px;
  border-radius: 50px;
  outline: none;
  border: none;
  transition: 0.2s ease;
}
#searchInput:hover {
  border: 1px solid #4e93f6;
  background: #4e94f616;
  color: white;
}
#search_container {
  height: 100%;
  width: 100%;
  background: none;
  position: fixed;
  top: -200%;
  z-index: 12;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: 0.2s ease-in;
}
#search_Suggestion {
  height: 70%;
  width: 100%;
  background: #161616;
  z-index: 1833;
  overflow: scroll;
  border-bottom: 2px solid #4e93f6;
  box-shadow: 0 0 10px 1px #00000073;
  border-radius: 10px;
}
#search_Suggestion::-webkit-scrollbar {
  display: none;
}
#myUL {
  height: 100%;
  width: 100%;
  background: none;
  margin-top: 50px;
}
#myUL li {
  list-style-type: none;
}
#myUL li a {
  text-decoration: none;
  background: #1d1f1c;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

#myUL li a:hover {
  background: #21252515;
}
#myUL li a:active {
  background: #21252515;
}
#arrow {
  transform: rotate(-50deg);
  margin-left: 10px;
}

#user_container {
  height: 50px;
  width: 50px;
  background-color: #222222;
  border-radius: 100px;
  transform: scale(0.7);
  overflow: hidden;
}
#user_container img {
  height: 50px;
  width: 50px;
  border-radius: 100px;
}
#bottom_nav {
  height: 50px;
  width: 100%;
  background: #1d1f1c;
  position: fixed;
  bottom: 0;
  z-index: 12377;
  display: flex;
  justify-content: center;
}
.bottom_box {
  height: 50px;
  width: 100%;
  background-color: none;
  display: grid;
  place-content: center;
  color: #c7c7c7;
}
.bottom_box:active {
  background: #2525253b;
  color: #ffffff;
}
.bottom_box:hover {
  background: #2525253b;
  color: #ffffff;
}
#container {
  height: 100%;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  scroll-snap-type: Y mandatory;
  background: #1d1f1c;
  float: right;
  background: #1d1f1c;
}
.box {
  height: auto;
  width: 400px;
  transition: 0.4s ease;
  color: #dfdfdf;
  text-decoration: none;
  transform: scale(0.96);
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
.box:active {
  background: #24242409;
}
.box:hover {
  background: #4e94f60e;
  border: 1px solid #4e93f6;
  transform: scale(1);
}
.box img {
  height: auto;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.box h2 {
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  font-family: system-ui;
}
.box p {
  padding: 10px 20px;
}
/* explore page style */
#category_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  transform: scale(0.97);
  position: sticky;
}
.category_box {
  height: 100px;
  width: 120px;
  border-radius: 5px;
  transform: scale(0.95);
  transition: 0.2s ease-in-out;
  background-color: #1d1f1c;
  display: grid;
  place-content: center;
  place-items: center;
  user-select: none;
  border: 1px solid #e2e2e2;
  flex-wrap: wrap;
  color: #e2e2e2;
}
.category_box i {
  font-size: 30px;
  color: #e2e2e2;
}

.category_box h2 {
  font-size: 20px;
  padding: 10px 10px;
  font-weight: 400;
}
.category_box:active {
  background-color: #18181821;
}
.category_box:hover {
  background-color: #4e94f643;
  border: 1px solid #4e93f6;
}
#data_container {
  height: 1000px;
  width: 100%;
  background-color: #4e93f6;
}
#user_login_con {
  height: 50px;
  width: 100%;
  background: #1d1f1c;
  position: fixed;
  bottom: -100%;
  right: 0;
  z-index: 12365478;
  box-shadow: 0 0 5px 1px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease-in-out;
}
#user_login_con button {
  padding: 10px 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 100px;
  border: none;
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#user_login_con button img {
  height: 20px;
  width: 20px;
  border-radius: 100px;
  margin-right: 10px;
}
#user_login_con button:hover {
  background-color: #b9b9b9;
}
#addOpener {
  height: 50px;
  width: 50px;
  background: #161616;
  position: fixed;
  bottom: 60px;
  right: 20px;
  border-radius: 100px;
  z-index: 123;
  display: grid;
  place-items: center;
  color: white;
  box-shadow: 0 0 10px black;
  transition: 0.2s ease-in-out;
}
#addOpener:active {
  background: #474747;
}
#add_input_container {
  background: #161616;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 123;
  transition: 0.2s ease-in-out;
  transform: scale(0);
  transform-origin: bottom center;
}
#input_Con_Closer {
  height: 50px;
  width: 100%;
  background: #1d1f1c;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: gray;
}
#input_Con_Closer i {
  padding: 10px 20px;
  margin-left: 10px;
}
#input_Con_Closer i:active {
  color: #4e93f6;
}
#input_Con_Closer i:hover {
  color: #4e93f6;
}
#add_input_container textarea {
  width: 100%;
  height: 80%;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #1d1f1c;
  position: fixed;
  top: 50px;
  transform: scale(0.9);
  font-size: 50px;
  color: white;
  font-weight: 900;
}
#add_input_container button {
  padding: 10px 20px;
  border: 1px solid #4e93f6;
  outline: none;
  background: #4e94f67f;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  transition: 0.2s ease;
  z-index: 123;
  position: absolute;
  right: 30px;
  bottom: 60px;
}
#add_input_container button:hover {
  cursor: pointer;
  background: #4e93f6;
  color: black;
}
.Quoits_container {
  height: 80vh;
  width: 100%;
  border: 1px solid#4e93f6;
  background-size: cover;
  transform: scale(0.9);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  scroll-snap-align: center;
  transition: 0.2s ease-in;
}
.Quoits_container:hover {
  background: #4e94f63c;
}
.Quoits_container h3 {
  width: 100%;
  height: auto;
  transform: scale(0.9);
  font-size: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  background: -webkit-linear-gradient(#4e93f6, #dc0f53);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background: #ffffff00;
}
#footer_items {
  height: auto;
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  transform: scale(0.98);
  margin-top: 50px;
}

.footer_box {
  width: 300px;
  padding: 10px 20px;
}
.footer_box h3 {
  color: #4e93f6;
}
.footer_box img {
  height: 70px;
  width: 70px;
}
.footer_box a {
  display: flex;
  text-decoration: none;
  color: #f7f7f7;
  padding: 5px 0px;
}
.footer_box a:hover {
  color: dodgerblue;
}
#footer_items p {
  width: 100%;
  text-align: center;
  padding: 30px;
  color: #d4d3d3;
}
#Message {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 123456789;
  background-color: #4e94f6fb;
  display: grid;
  place-items: center;
  transition: 0.2s ease-in-out;
  top: -100%;
}
/* Cta btn style */
#cta_Container {
  height: 50px;
  width: 100%;
  background: #4e93f6;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform: scale(0.98);
  border-radius: 100px;
  margin-bottom: 50px;
}

#cta_Container a {
  font-weight: 500;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 100px;
  width: 33%;
  text-align: center;
  transition: 0.2s ease-in;
}

#cta_Container a:hover {
  background: white;
  color: #4e93f6;
  cursor: pointer;
}

@media only screen and (min-width: 1020px) {
  #cta_Container {
    height: 50px;
    width: 95%;
    float: right;
  }
}

@media only screen and (min-width: 1020px) {
  nav {
    position: sticky;
    top: 0;
  }
  #container{
    width: 95%;
  }

  #bottom_nav {
    height: 100vh;
    width: 5%;
    left: 0;
    top: 50px;
    border: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: none;
  }

  .bottom_box {
    width: 50px;
  }
  .bottom_box:hover {
    background: #00000018;
  }
  #Main_container {
    height: 100%;
    width: 95%;
    float: right;
    justify-content: flex-start;
  }
  .box {
    height: auto;
    width: 20%;
    transform: scale(0.9);
    transition: 0.4s ease;
    overflow: hidden;
  }
  .box:hover {
    box-shadow: 0 0 10px 1px #000000;
    transform: scale(0.85);
  }
  #search_container {
    right: 0;
    width: 95%;
  }
  #search_Suggestion {
    width: 60%;
    margin-left: 30px;
  }

  .category_box {
    width: 20%;
  }

  #category_container {
    transform: scale(0.87);
  }

  #addOpener {
    bottom: 10px;
    right: 10px;
  }
  #addOpener:hover {
    background: #474747;
  }
  #add_input_container {
    height: 80%;
    width: 80%;
    position: fixed;
    top: 10%;
    right: 10%;
    left: 10%;
    z-index: 123;
    transform: scale(0);
    box-shadow: 0 0 5px black;
    transform-origin: left center;
  }

  #add_input_container textarea {
    width: 100%;
    height: 80%;
  }

  #add_input_container button {
    right: 10px;
    bottom: 10px;
  }
  .Quoits_container {
    height: auto;
    width: 50%;
  }
}
